@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --bg-color:blue;
    --primary-color: yellow;
    --secondary-color: white;
    --tipo-fonte: "Rubik", sans-serif;
}